<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <RegistryUrl>&lt;myrepo&gt;.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ProjectGuid>e8c6b773-ad40-4ede-a3ea-427f39d6f539</ProjectGuid>
    <_TargetId>NetSdkCustomContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>